* {
    font-family:'Open Sans', sans-serif;
    text-align: center;

}


#roladex{
    /* background-color: cadetblue; */
    margin: 0 auto;
    

}

.card{
/*     background-color: gray;
        border: 3px solid blue;
 */    padding: 10px;
    
    width: 300px;
    margin: 0 auto;


}

/* h1{
    font-weight:900;
    margin: 8px auto;

} */

.name{
    font-weight: 700;
    font-size: 24px;
}



.imgCrop{
    height:100px;
    width:100px;
    position:relative;
    overflow:hidden;

    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
    
    /* MATCHES EXAMPLE CROP
    
    border-top-right-radius:65%;
    border-bottom-left-radius:65%;
    border-top-left-radius:35%;
    border-bottom-right-radius:35%; */
}

img{
    width: auto;
    height: 100%;
    
}



p{
    margin: 2px auto;
}

.email{
    font-weight:300;
    margin: 5px auto;
    color:darkgray;
}

