* {
    font-family:'Open Sans', sans-serif;
    text-align: center;

}

/* body{
    margin:0 20px;
} */

h2{
    /* margin: 0 auto; */
    margin-bottom: 49px;
    /* font-size:35px; */
    font-weight:700;
    max-width:fit-content;
    padding-left:45px;

}
#roladex{
    /* background-color: cadetblue; */
    margin: 0 auto;
    display:flex;
    
    

}

.info{
/*     background-color: gray;
        border: 3px solid blue;
 */    padding: 10px;
    
    width: 300px;
    margin: 0 auto;


}

.card{
    margin:0 auto;
}

.name{
    font-weight: 700;
    font-size: 20px;
}



.imgCrop{
    height:100px;
    width:100px;
    position:relative;
    overflow:hidden;
    margin: 0 auto;

    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
    
    /* MATCHES EXAMPLE CROP
    
    border-top-right-radius:65%;
    border-bottom-left-radius:65%;
    border-top-left-radius:35%;
    border-bottom-right-radius:35%; */
}

img{
    width: auto;
    height: 100%;
    
}



p{
    margin: 2px auto;
}

.email{
    font-weight:300;
    margin: 5px auto;
    color:darkgray;
}

