* {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    width: auto;
}

h2 {
    margin-bottom: 30px;
    font-weight: 700;
    max-width: fit-content;
    padding-left: 25px;
}

#roladex {
    /* background-color: cadetblue; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.info {

    padding: 10px;

    width: auto;
    margin: 0 auto;
}

.card {
    min-width: 0;
    margin: 0px 10px 20px 10px;
}

.name {
    font-weight: 700;
    font-size: 20px;
}

.imgCrop {
    height: 100px;
    width: 100px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;

    /* LEAF CROP
  
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%; */

    /*MATCHES EXAMPLE CROP*/
    border-top-right-radius: 60%;
    border-bottom-left-radius: 60%;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

img {
    width: auto;
    height: 100%;
}

p {
    margin: 2px auto;
}

.email {
    font-weight: 300;
    margin: 5px auto;
    color: rgb(82, 81, 81);
}